<template>
  <div class="task" :class="{ 'light-task': isLightTheme }">
    <div class="info-task_wrapper">
      <strong class="task-name">{{ taskName }}</strong>
      <span
        v-if="!resolvedTime || showResolvedTime"
        class="task-change-time"
        @click="toggleTaskTime"
        >Created: {{ timestampCreated }}</span
      >
      <span v-else class="task-change-time red" @click="toggleTaskTime"
        >Done: {{ timestampResolved }}</span
      >
    </div>

    <button class="done-task" @click="doneTask">
      <span
        class="material-icons-outlined"
        :class="{ 'resolved-color-task': resolvedTask }"
      >
        check_circle_outline
      </span>
    </button>

    <button class="delete-task" @click="deleteTask">
      <span class="material-icons-outlined"> delete </span>
    </button>
  </div>
</template>

<script>
export default {
  name: "Task",
  data() {
    return {
      showResolvedTime: false,
    };
  },
  props: {
    taskName: {
      type: String,
      default: "",
    },
    createdTime: {
      type: Number,
      default: 0,
    },
    resolvedTime: {
      type: Number,
      default: 0,
    },
    id: {
      type: String,
      default: "",
    },
    isLightTheme: {
      type: Boolean,
    },
  },
  computed: {
    timestampCreated() {
      return new Date(this.createdTime).toLocaleString();
    },
    timestampResolved() {
      return new Date(this.resolvedTime).toLocaleString();
    },
    resolvedTask() {
      return Boolean(this.resolvedTime);
    },
  },
  methods: {
    deleteTask() {
      this.$emit("onDelete", this.id);
    },
    doneTask() {
      if (!this.resolvedTime) {
        this.$emit("onDone", this.id);
      }
    },
    toggleTaskTime() {
      this.showResolvedTime = !this.showResolvedTime;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "/material-icons/iconfont/material-icons.css";
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: #d9d9d9;
  background: #4b4b4b;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 4px 4px 4px 1px #212121, -3px -3px 10px 1px #5e5e5e;

  &:hover {
    box-shadow: 2px 2px 2px #212121, -2px -2px 2px #5e5e5e;
  }

  .info-task_wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;

    .task-name {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .task-change-time {
      width: fit-content;
      cursor: pointer;
      color: rgba(217, 217, 217, 0.49);
      font-size: 14px;
    }

    .red {
      color: #ff8282;
    }
  }

  .delete-task,
  .done-task {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #4b4b4b;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 4px 4px 4px #212121, -4px -4px 4px #5e5e5e;

    span {
      color: #6f6f6f;
      font-size: 26px;
      transition: 0.2s;
    }

    &:active {
      box-shadow: 2px 2px 2px #212121, -2px -2px 2px #5e5e5e;
    }
  }

  .done-task {
    margin-right: 10px;

    .resolved-color-task {
      color: #2ed42e;
      pointer-events: none;
    }
  }

  .delete-task {
    span {
      &:hover {
        color: #ff3c3c;
      }
    }
  }
}

.light-task {
  color: #4d4d4d;
  background: #cacaca;
  box-shadow: 4px 4px 4px 1px #646464, -3px -3px 10px 1px #ffffff;

  &:hover {
    box-shadow: 2px 2px 2px #646464, -2px -2px 2px #ffffff;
  }

  .info-task_wrapper {
    .task-change-time {
      color: #4d4d4d;
      cursor: pointer;
    }

    .red {
      color: #ff8282;
    }
  }

  .delete-task,
  .done-task {
    background: #d9d9d9;
    box-shadow: 4px 4px 4px #646464, -4px -4px 4px #ffffff;

    span {
      color: #4d4d4d;
    }

    &:active {
      box-shadow: 2px 2px 2px #646464, -2px -2px 2px #ffffff;
    }
  }
}
</style>
