<template>
  <div class="tasks-limit-popup" :class="{ 'light-tasks-limit-popup': isLightTheme }">
    <span>Your task limit is 7</span>
  </div>
</template>

<script>
export default {
  name: "TasksLimitPopup",
  props: {
    isLightTheme: {
      type: Boolean,
    },
  },
};
</script>

<style lang="scss" scoped>
.tasks-limit-popup {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #2a2a2abd;
  z-index: 99;

  span {
    display: block;
    padding: 40px;
    font-size: 24px;
    border-radius: 20px;
    color: #d9d9d9;
    background-color: #252525;
    box-shadow: 0 0 20px 0px #ffffff;
  }
}

.light-tasks-limit-popup {
  span {
    color: #4d4d4d;
    background-color: #cacaca;
  }
}
</style>
