<template>
  <div class="theme-toggler" :class="{ 'light-theme-toggler': isLightTheme }">
    <span class="material-icons-outlined icon">{{ iconName }}</span>
  </div>
</template>

<script>
export default {
  name: "ThemeToggler",
  props: {
    isLightTheme: {
      type: Boolean,
    },
  },
  computed: {
    iconName() {
      return this.isLightTheme ? "nightlight" : "wb_sunny";
    },
  },
};
</script>

<style lang="scss" scoped>
.theme-toggler {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: 0.3s;
  background: linear-gradient(
    145deg,
    rgb(225 225 225 / 15%) 30%,
    rgba(43, 43, 43, 0.45) 80%
  );
  box-shadow: 3px 3px 10px #080808, -3px -3px 8px #6f6f6f;
  cursor: pointer;

  &:active {
    box-shadow: 2px 2px 5px #080808, -2px -2px 6px #6f6f6f;
  }

  .icon {
    color: #adadad;
    transition: all 0.2s;
    filter: none;

    &:hover {
      color: #e0e0e0;
    }
  }
}

.light-theme-toggler {
  background: linear-gradient(
    145deg,
    rgb(244 244 244 / 40%) 30%,
    rgb(87 87 87 / 45%) 80%
  );
  box-shadow: 3px 3px 10px #2a2a2a, -3px -3px 8px #ffffff;

  &:active {
    box-shadow: 2px 2px 5px #2a2a2a, -2px -2px 6px #ffffff;
  }

  .icon {
    color: #525252;
    pointer-events: none;
  }
}
</style>
