<template>
  <div class="title-animation" :class="{ 'light-title-animation': isLightTheme }">
    <div class="header-blur">{{ timeNow }}</div>
    <h1 class="title">Todo list</h1>
  </div>
</template>

<script>
export default {
  name: "TitleAnimation",
  data() {
    return {
      timeNow: new Date().toLocaleTimeString(),
      interval: null,
    };
  },
  props: {
    isLightTheme: {
      type: Boolean,
    },
  },
  created() {
    this.interval = setInterval(() => {
      this.timeNow = new Date().toLocaleTimeString();
    }, 1000);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
};
</script>

<style lang="scss" scoped>
.title-animation {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  .header-blur {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 73px;
    height: 73px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: 1;
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    animation: move 6s linear infinite;
    transition: 0.3s;
  }

  .title {
    color: #d9d9d9;
  }
}

.light-title-animation {
  .header-blur {
    color: #4d4d4d;
  }

  .title {
    color: #4d4d4d;
  }
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 65%;
  }
  100% {
    left: 25%;
  }
}
</style>
