<template>
  <div class="start-page" :class="{ 'light-start-page': isLightTheme }">
    <ThemeToggler :isLightTheme="isLightTheme" @click.native="toggleTheme" />

    <router-link class="link" to="/todolist">
      <div class="button">
        <strong>Start</strong>
      </div>
    </router-link>
  </div>
</template>

<script>
import themeToggler from "@/mixins/themeToggler.js";
import ThemeToggler from "../components/ThemeToggler";

export default {
  name: "StartPage",
  mixins: [themeToggler],
  components: {
    ThemeToggler,
  },
};
</script>

<style lang="scss" scoped>
.start-page {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  color: #d9d9d9;
  background-color: #303030;
  transition: 0.3s;

  .link {
    text-decoration: none;

    .button {
      padding: 7px 15px;
      border-radius: 15px;
      background: #303030;
      box-shadow: 5px 5px 10px #1b1b1b, -5px -5px 9px #575757;
      cursor: pointer;
      transition: 0.3s;

      &:active {
        background: #303030;
        box-shadow: inset 4px 4px 8px #1b1b1b, inset -4px -4px 8px #575757;
      }

      strong {
        font-size: 36px;
        color: #d1d1d1;
        text-transform: uppercase;
      }
    }
  }
}

.light-start-page {
  background-color: #cacaca;

  .link {
    .button {
      background: #cacaca;
      box-shadow: 5px 5px 10px #5a5a5a, -5px -5px 9px #ffffff;

      strong {
        color: #4d4d4d;
      }

      &:active {
        background: #cacaca;
        box-shadow: inset 4px 4px 8px #5a5a5a, inset -4px -4px 8px #ffffff;
      }
    }
  }
}
</style>
