<template>
  <div class="todo-list" :class="{ 'light-todo-list': isLightTheme }">
    <ThemeToggler :isLightTheme="isLightTheme" @click.native="toggleTheme" />
    <TitleAnimation class="title-animation" :isLightTheme="isLightTheme" />
    <Preloader v-if="showPreloader" />
    <TasksLimitPopup
      v-if="showPopup"
      @click.native="closePopup"
      :limitTasksAmount="limitTasksAmount"
      :isLightTheme="isLightTheme"
    />

    <div v-if="errorLoading" class="error">Loading error. Try later.</div>

    <div v-else class="main_wrapper">
      <div class="tasks-and-input_section">
        <div class="input_wrapper">
          <div class="input_block">
            <input
              v-model="newTaskName"
              class="input-field"
              placeholder="New task"
              maxlength="40"
              type="text"
              @keyup.enter="addNewTask"
            />
            <button class="add-task" @click="addNewTask">
              <span class="material-icons-outlined"> add </span>
            </button>
          </div>
        </div>

        <div class="tasks_wrapper">
          <transition-group name="tasks">
            <Task
              v-for="task in tasksInProgress"
              class="task-component"
              :id="task.id"
              :key="task.createdTime"
              :createdTime="task.createdTime"
              :taskName="task.taskName"
              :isLightTheme="isLightTheme"
              @onDelete="deleteTask"
              @onDone="doneTask"
            />

            <Task
              v-for="task in tasksResolved"
              class="task-component"
              :id="task.id"
              :key="task.createdTime"
              :createdTime="task.createdTime"
              :resolvedTime="task.resolvedTime"
              :taskName="task.taskName"
              :isLightTheme="isLightTheme"
              @onDelete="deleteTask"
              @onDone="doneTask"
            />
          </transition-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Task from "../components/Task";
import TitleAnimation from "../components/TitleAnimation";
import Preloader from "../components/Preloader";
import TasksLimitPopup from "../components/TasksLimitPopup";
import ThemeToggler from "../components/ThemeToggler";
import themeToggler from "@/mixins/themeToggler.js";

const baseUrl = "https://5f903ab5e0559c0016ad64ac.mockapi.io/todolist";

export default {
  name: "TodoList",
  mixins: [themeToggler],
  components: {
    Task,
    TitleAnimation,
    Preloader,
    TasksLimitPopup,
    ThemeToggler,
  },
  data() {
    return {
      newTaskName: "",
      errorLoading: false,
      tasksInProgress: [],
      tasksResolved: [],
      allTasks: [],
      blockInput: false,
      showPreloader: false,
      showPopup: false,
      limitTasksAmount: 7,
    };
  },
  created() {
    this.getTasks();
    this.showPreloader = true;
  },
  computed: {
    limitTasksLength() {
      return this.allTasks.length !== this.limitTasksAmount;
    },
  },
  methods: {
    getTasks() {
      this.blockInput = false;
      this.$axios
        .get(baseUrl)
        .then((response) => {
          this.allTasks = response.data;
          this.tasksInProgress = response.data
            .filter((el) => !el.resolvedTime)
            .sort((a, b) => b.createdTime - a.createdTime);
          this.tasksResolved = response.data
            .filter((el) => el.resolvedTime)
            .sort((a, b) => b.resolvedTime - a.resolvedTime);
          this.showPreloader = false;
        })
        .catch(() => {
          this.errorLoading = true;
        });
    },
    addNewTask() {
      if (this.blockInput) {
        return;
      }

      this.necessityPopup();

      const createdTime = Date.now();
      const resolvedTime = 0;

      if (this.newTaskName && this.limitTasksLength) {
        this.blockInput = true;
        this.showPreloader = true;
        this.$axios
          .post(baseUrl, {
            taskName: this.newTaskName,
            createdTime,
            resolvedTime,
          })
          .then((response) => {
            if (response) {
              this.getTasks();
              this.newTaskName = "";
            } else {
              throw new Error("Internal Server Error. Can't display events");
            }
          });
      }
    },
    deleteTask(id) {
      this.showPreloader = true;
      this.$axios.delete(`${baseUrl}/${id}`).then((response) => {
        if (response) {
          this.getTasks();
        } else {
          throw new Error("Internal Server Error. Can't display events");
        }
      });
    },
    doneTask(id) {
      this.showPreloader = true;
      const resolvedTime = Date.now();
      this.$axios.put(`${baseUrl}/${id}`, { resolvedTime }).then((response) => {
        if (response) {
          this.getTasks();
        } else {
          throw new Error("Internal Server Error. Can't display events");
        }
      });
    },
    necessityPopup() {
      if (!this.limitTasksLength) {
        this.showPopup = true;
      }
    },
    closePopup() {
      this.showPopup = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.todo-list {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 0 0;
  color: #d9d9d9;
  background-color: #303030;
  transition: 0.5s;

  .title-animation {
    max-width: 700px;
  }

  .main_wrapper {
    max-width: 700px;
    width: 100%;
    height: calc(100vh - 240px);
    padding-bottom: 10px;

    .tasks-and-input_section {
      height: 100%;

      .input_wrapper {
        padding: 13px 13px 0 13px;

        .input_block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          max-width: 674px;
          margin: 0 auto 15px;
          padding-right: 15px;
          background: #4b4b4b;
          border-radius: 5px 20px 20px 5px;
          box-shadow: 4px 4px 4px 1px #212121, -3px -3px 10px 1px #5e5e5e;
          transition: 0.3s;

          .input-field {
            max-width: 630px;
            width: 100%;
            height: 56px;
            padding-left: 15px;
            background: transparent;
            color: #d9d9d9;
            font-size: 22px;
            border: none;
            outline: none;
            transition: 0.3s;
          }

          .add-task {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 35px;
            height: 35px;
            border-radius: 50%;
            background: #4b4b4b;
            border: none;
            cursor: pointer;
            transition: 0.2s;
            box-shadow: 4px 4px 4px #212121, -4px -4px 4px #5e5e5e;

            span {
              color: #6f6f6f;
              font-size: 26px;
            }

            &:active {
              box-shadow: 2px 2px 2px #212121, -2px -2px 2px #5e5e5e;
            }
          }
        }
      }

      .tasks_wrapper {
        height: calc(100% - 75px);
        padding: 13px 13px 0 13px;
        overflow-x: hidden;
        overflow-y: auto;

        .task-component {
          max-width: 674px;
        }

        .tasks-enter-active,
        .tasks-leave-active {
          transition: all 1s;
        }

        .tasks-enter {
          transform: translate(-100%);
          opacity: 0;
        }

        .tasks-leave-to {
          transform: translate(100%);
          opacity: 0;
        }

        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: rgba(255, 255, 255, 0.03);
        }

        &::-webkit-scrollbar {
          width: 5px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #4e4e4e;
        }
      }
    }
  }
}

.light-todo-list {
  background-color: #cacaca;

  .main_wrapper {
    .tasks-and-input_section {
      .input_wrapper {
        .input_block {
          background: #cacaca;
          box-shadow: 4px 4px 4px 1px #646464, -3px -3px 10px 1px #ffffff;

          .input-field {
            color: #4d4d4d;
          }

          .add-task {
            background: #d9d9d9;
            box-shadow: 4px 4px 4px #646464, -4px -4px 4px #ffffff;

            span {
              color: #4d4d4d;
            }

            &:active {
              box-shadow: 2px 2px 2px #646464, -2px -2px 2px #ffffff;
            }
          }
        }
      }

      .tasks_wrapper {
        &::-webkit-scrollbar-thumb {
          background-color: #dedede;
        }
      }
    }
  }
}
</style>
